<% include ../partials/header %>

<div>
    <header class="jumbotron">
        <div class="container">
        <h1>Welcome to Literary Labyrinth!</h1>
        <p>View our hand-picked books from all over the world.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/books/new">Add New Book</a>
        </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% books.forEach(function(book){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="thumbnail">
                     <img src="<%= book.image ? book.image : 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Closed_Book_Icon.svg/1200px-Closed_Book_Icon.svg.png' %>">
                     <div class="caption">
                          <h4><%= book.name %></h4>
                          <h5><%= book.writer %></h5>
                     </div>
                     <p>
                         <a href="/books/<%= book._id %>" class="btn btn-primary">More Info</a>
                     </p>
                </div>
             </div>
        <% }); %>   
    </div>
</div>

<% include ../partials/footer %>